.main_container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 4rem;
}
* {
    color: #fff;
}
.impressum {
    margin-bottom: 2vh;
}

@media only screen and (max-width: 600px) {
    .video {
        width: 426px;
        height: 240px;
    }
}
