.main_container {
    padding-top: 7rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
}
.inner_container {
    display: inline;
    text-align: center;
}
.autor {
    font-style: italic;
}
.text {
    width: 50vw;
}

@media only screen and (max-width: 500px) {
    .text{
        width: 80vw;
    }
    .heading {
        padding: 3rem;
    }
}
