.main_container {
    padding-top: 7rem;
    color: #fff;
    display: flex;
    justify-content: center;
}
.inner_container {
    display: inline;
    text-align: center;
}
.autor {
    font-style: italic;
}
