@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap%27');

.navbar_container {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,#93A0FF, #F197AB);
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: 0.1s;
}
.standard {
    top: 2.5rem;
}
.logo {
    padding-left: 2vw;
    transition: 150ms;
}
.nav_spacer {
    opacity: 0.5;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.navbar_list {
    margin-right: 1vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navbar_list li a {
    text-decoration: none;
    color: #fff;
}
.navbar_list li {
    color: #fff;
}
.topic {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    margin: 0 1vw;
    font-family: 'Comfortaa', sans-serif;

}
.topic::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
    border-radius: 2px;
}
.topic:hover:after {
    content: '';
    position: absolute;
    background-color: #ddd;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    border-radius: 2px;
}
@media only screen and (max-width: 600px) {
    .logo {
        opacity: 0;
    }
}
.directlinks {
    font-family: 'Comfortaa', sans-serif;
}
.logo_img {
    height: 20px;
    width: 20px;
}
