@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap%27');

.landing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.landing > svg {
    transform: scale(200%);
    width: 50vw;
    max-width: 500px;
}
.topic-container {}