.main_container {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
    line-height: 1.6;
    flex-direction: column;
}
.main_container > ul {
    margin-left: 2rem;
}