@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap%27');

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #202020;
    width: 100%;
}
:root {
    --purple: #F197AB;
    --blue: #93A0FF;
    --dark: #1a1a1a;
    --background: #202020;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
